<form [formGroup]="loginForm" (ngSubmit)="onSubmit()" class="login-form">
    <label>Email :</label>
    <input type="email" formControlName="email" />
    <div *ngIf="loginForm.get('email')?.invalid && loginForm.get('email')?.touched">
      Email invalide
    </div>
  
    <label>Mot de passe :</label>
    <input type="password" formControlName="password" />
    <div *ngIf="loginForm.get('password')?.invalid && loginForm.get('password')?.touched">
      Mot de passe requis
    </div>
  
    <button type="submit" [disabled]="loginForm.invalid">Connexion</button>
  
    <p>{{ message }}</p>
    
  <p>Pas encore inscrit ? <a routerLink="/register">Créer un compte</a></p>
  </form>
  
