<mat-card class="admin-card">
<h2>{{ data.mode === 'edit' ? '✏️ Modifier l’événement' : '➕ Créer un événement' }}</h2>
  
    <form [formGroup]="eventForm" (ngSubmit)="onSubmit()">
      <mat-form-field appearance="fill">
        <mat-label>Titre</mat-label>
        <input matInput formControlName="title" placeholder="Ex : Tournoi 2v2">
      </mat-form-field>
  
      <mat-form-field appearance="fill">
        <mat-label>Date de début</mat-label>
        <input matInput type="datetime-local" formControlName="dateStart">
      </mat-form-field>
      
      <mat-form-field appearance="fill">
        <mat-label>Date de fin</mat-label>
        <input matInput type="datetime-local" formControlName="dateEnd">
      </mat-form-field>
  
      <mat-form-field appearance="fill">
        <mat-label>Nombre max de participants</mat-label>
        <input matInput type="number" formControlName="maxParticipants" min="1">
      </mat-form-field>

      <mat-form-field appearance="fill">
        <mat-label>Niveau</mat-label>
        <mat-select formControlName="level">
          <mat-option value="debutant">Débutant</mat-option>
          <mat-option value="intermediaire">Intermédiaire</mat-option>
          <mat-option value="avance">Avancé</mat-option>
        </mat-select>
      </mat-form-field>
      
      <mat-form-field appearance="fill">
        <mat-label>Lieu</mat-label>
        <mat-select formControlName="location">
          <mat-option value="Cap 3000">Cap 3000</mat-option>
          <mat-option value="Cagnes CLJ">Cagnes CLJ</mat-option>
          <mat-option value="Ponchettes">Ponchettes</mat-option>
        </mat-select>
      </mat-form-field>
  
  <button mat-raised-button color="primary" type="submit">
    {{ data.mode === 'edit' ? '💾 Mettre à jour' : '✅ Créer' }}
  </button>
    </form>
  
    <p class="status-message">{{ message }}</p>
  </mat-card>